html,
body,
#root {
  margin: 0px;
  height: 100%;
}

.canvas {
  background-color: black;
  height: 100%;
}

.concept-name {
  padding: 5px;
}

.concept {
  display: block;
  border-style: solid;
  color: #20c20e;
  width: min-content;
  user-select: none;
}
