html,
body,
#root {
  margin: 0px;
  height: 100%;
}

.canvas {
  position: absolute;
  background-color: black;
  height: 100%;
  width: 100%;
}

.concept-name {
  text-align: center;
  line-height: 60px;
}

.concept {
  display: block;
  border-style: solid;
  border-radius: 100%;
  color: #20c20e;
  user-select: none;
  box-sizing: border-box;
}

.side-bar {
  position: absolute;
  color: #20c20e;
  height: 100%;
  width: 20%;
  right: 0;
  border-style: solid;
  user-select: none;
  box-sizing: border-box;
}

.arrow {
  background-color: #20c20e;
  box-sizing: border-box;
  position: absolute;
  display: block;
  width: 130px;
  height: 2px;
  position: absolute;
  top: 300px;
  left: 300px;
}
.arrow::after {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  top: -3px;
  left: 125px;

  border-bottom: 10px solid #20c20e;
  transform: rotate(90deg);
}
